<body class="register-page" style="min-height: 586.391px;">
  <div class="register-box">
    <br>
    <br>


    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Enregistrer un personnel</p>
        <form #PersonnelForm="ngForm" id="P" (ngSubmit)="SavePersonnel()" class="form-horizontal">
          <div class="input-group mb-3">
            <input required [(ngModel)]="personnel.code" name="code" type="text" class="form-control" placeholder="Code du personnel">
            <div class="input-group-append">
              <div class="input-group-text">
                <!-- <span class="fas fa-user"></span> -->
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input [(ngModel)]="personnel.nom" name="nom" type="text" class="form-control" placeholder="Nom">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input [(ngModel)]="personnel.prenom" name="prenom" type="text" class="form-control" placeholder="Prénom">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input [(ngModel)]="personnel.login" name="login" type="text" class="form-control" placeholder="Login">
            <div class="input-group-append">
              <div class="input-group-text">
                <!-- <span class="fas fa-envelope"></span> -->
              </div>
            </div>
          </div>
          <label for="lblcodetypePersonnel">{{typepersonnelid}}</label>
          <ng-select [items]="typepersonnelist" bindLabel="libelle" autofocus [clearable]="true"
            [searchable]="true" bindValue="typepersonnelid" [(ngModel)]="typepersonnelid" name="typepersonnelid">
          </ng-select>
          <br>
          <br>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block"
                [disabled]="PersonnelForm.invalid">Enregistrer</button>
            </div>
            <!-- /.col -->
          </div>
        </form>


      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

  </body>
