<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-open" style="height: auto;">
  <div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content-wrapper" style="min-height: 469px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <!-- <h1 class="m-0 text-dark">Produits</h1> -->
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Produits</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->


      <!-- Main content-->
      <section class="content">
        <div class="container-fluid">
          <!-- here to put code for app -->
          <!-- use class = "row"-->

          <div class="row">

            <div class="col-md-5">

              <div class="card card-outline card-primary">
                <div class="card-header">
                  <h3 class="card-title">Renseigner le produits à enregistrer</h3>
                  <!--
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div> -->
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->

                <div class="card-body" style="display: block;">
                  <form #ProduitForm="ngForm" id="ProduitForm" (ngSubmit)="SaveProduit()" class="form-horizontal">
                    <label for="lblcodeProduit">Code du produit</label>
                    <div class="input-group mb-3">
                      <input required [(ngModel)]="produit.code" name="code" type="text" class="form-control"
                        id="codeProduit" placeholder="Enter le code du produit" />
                    </div>

                    <label for="lbldesProduit">Nom complet du produit </label>
                    <div class="input-group mb-3">
                      <input required [(ngModel)]="produit.libelle" name="libelle" type="text" class="form-control"
                        id="NomProduit" placeholder="Enter le nom complet du produit">
                    </div>
                    <label for="lblcodetypeProduit">Choissez la famille auquel appartient le produit</label>
                    <ng-select [items]="typeproduitlist" bindLabel="libelle" autofocus [clearable]="true"
                      [searchable]="true" bindValue="typeproduitid" [(ngModel)]="typeproduitid" name="typeproduitid">
                    </ng-select>
                    <br>
                    <div class="row">
                      <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block"
                          [disabled]="ProduitForm.invalid">Enregistrer</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <!-- pour espacer les deux composants -->
            <div class="col-md-1"></div>
            <div class="col-md-5">

              <div class="card card-outline card-primary">
                <div class="card-header">
                  <h3 class="card-title">Liste des produits enregistrés</h3>
                  <!-- /.card-tools -->
                </div>
                <br>
                <div class="col-md-9 col-sm-9">

                  <dx-data-grid id="gridContainer" [dataSource]="listOfProduit" [showBorders]="true"
                    [remoteOperations]="true" [width]="425">
                    <dxi-column dataField="code" dataType="string" >
                    </dxi-column>
                    <dxi-column dataField="libelle" dataType="string"  >
                    </dxi-column>
                    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple">
                    </dxo-selection>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-paging [pageSize]="12"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
                  </dx-data-grid>
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="display: block;">
                  <form action="../../index3.html" method="post">

                    <!-- here my tab -->

                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-4">
          <!-- <button type="button" class="btn btn-secondary"
          data-toggle="modal" data-target="#exampleModalCenter2">Imprimer </button> -->
                        <button class="btn btn-primary btn-block">Imprimer</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </section>
      <!-- /.Main content-->
    </div>
    <aside class="control-sidebar control-sidebar-dark">

    </aside>
    <!-- end Control sidebar content goes here -->

    <app-footer></app-footer>
    <div id="sidebar-overlay"></div>
  </div>
</body>

