
  <div class="content-wrapper" style="min-height: 469px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!-- <h1 class="m-0 text-dark">Produits</h1> -->
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Type de produits</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


  <!-- Main content-->
  <section class="content">
    <div class="container-fluid">
  <!-- here to put code for app -->
  <!-- use class = "row"-->

  <div class="row">

    <div class="col-md-5">

      <div class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title">Famille de produit</h3>
<!--
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div> -->
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="display: block;">
          <form #TypeProduitForm="ngForm" id="TypeProduitForm" (ngSubmit)="SaveTypeProduit()" class="form-horizontal">
            <label for="lblcodeProduit">Code de la famille de produit</label>
            <div class="input-group mb-3">
              <input required [(ngModel)]="typeproduit.code" name="code" type="text" class="form-control"
                id="codeProduit" placeholder="Enter le code du produit" />
            </div>

            <label for="lbldesProduit">Nom complet de la famille produit </label>
            <div class="input-group mb-3">
              <input required [(ngModel)]="typeproduit.libelle" name="libelle" type="text" class="form-control"
                id="NomProduit" placeholder="Enter le nom complet du produit">
            </div>

            <br>
            <div class="row">
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block"
                  [disabled]="TypeProduitForm.invalid || btnUpdate!==0">Enregistrer</button>
              </div>
              <div class="col-4">
                <button [disabled]="btnUpdate===0" type="button" class="btn btn-block btn-primary">Update</button>
              </div>
              <div class="col-4">
                <button [disabled]="btnSup===0" type="button" class="btn btn-block btn-primary">Supprimer</button>
              </div>
              <!-- /.col -->
            </div>

          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <!-- pour espacer les deux composants -->
            <!-- pour espacer les deux composants -->
            <div class="col-md-1"></div>
            <div class="col-md-5">

              <div class="card card-outline card-primary">
                <div class="card-header">
                  <h3 class="card-title">Liste des produits enregistrés</h3>
                  <!-- /.card-tools -->
                </div>
                <br>
                <div class="col-md-9 col-sm-9">

                  <dx-data-grid  (onSelectionChanged)="onSelectionChanged($event)" id="gridContainer" [dataSource]="listOfTypeProduit" [showBorders]="true"
                    [remoteOperations]="true" [width]="425">
                    <dxi-column dataField="code" dataType="string" >
                    </dxi-column>
                    <dxi-column dataField="libelle" dataType="string"  >
                    </dxi-column>
                    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple">
                    </dxo-selection>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-paging [pageSize]="5"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
                  </dx-data-grid>
                </div>
                <!-- /.card-header -->
                <div class="card-body" style="display: block;">
                  <form action="../../index3.html" method="post">

                    <!-- here my tab -->

                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-4">
          <!-- <button type="button" class="btn btn-secondary"
          data-toggle="modal" data-target="#exampleModalCenter2">Imprimer </button> -->
                        <button class="btn btn-primary btn-block">Imprimer</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
    <!-- /.col -->
  </div>
    </div>
    <div class="row">
      <div class="col-md-3"> </div>
      <!-- /.col -->
      <div class="col-md-5">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->

          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <button type="button" class="btn btn-block btn-primary">Enregistrer</button>
                </div>

                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <button type="button" class="btn btn-block btn-primary">Imprimer</button>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <button type="button" class="btn btn-block btn-primary">Envoyer</button>

                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <!-- /.col -->
      <div class="col-md-4"> </div>
      <!-- /.col -->
    </div>
  </section>
  <!-- /.Main content-->
  </div>
